<div class="courses-panel">
    <div class="header">
        <h2 class="title">All Courses</h2>
        <button mat-mini-fab color="accent">
            <mat-icon class="add-course-btn">add</mat-icon>
        </button>
    </div>
    <mat-tab-group (selectedTabChange)="tabChange($event)">
        <mat-tab label="Beginners" [id]="categories.BEGINNER">
            <courses-card-list [courses]="beginnersCourses()"></courses-card-list>
        </mat-tab>
        <mat-tab label="Advanced" [id]="categories.ADVANCED">
            <courses-card-list [courses]="advancedCourses()"></courses-card-list>
        </mat-tab>
    </mat-tab-group>
    <mat-paginator (page)="handlePageEvent($event)"
                   [length]="paging().length"
                   [pageSize]="paging().pageSize"
                   [pageSizeOptions]="pageSizeOptions()"
                   [pageIndex]="paging().pageIndex"
                   aria-label="Select page">
    </mat-paginator>
</div>

