<div class="courses-panel">

    <div class="header">

        <h2 class="title">All Courses</h2>

        <button mat-mini-fab color="accent">
            <mat-icon class="add-course-btn">add</mat-icon>
        </button>

    </div>
    <mat-tab-group>

        <mat-tab label="Beginners">
            <div *ngFor="let course of beginnersCourses$ | async">
                {{ course.url }}
            </div>
        </mat-tab>

        <mat-tab label="Advanced">
            <div *ngFor="let course of advancedCourses$ | async">
                {{ course.url }}
            </div>
        </mat-tab>

    </mat-tab-group>

</div>

